body {
 background-color: #e8e8e8;
}
.container{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
section {
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2% 1%;
  padding-top: 0;
  width: 50%;
  background-color: rgb(187, 187, 187);
}
section h2 {
  text-align: center;
  font-size: 3em;
}
section>img{
  display: block;
  margin : auto;
  width: 60%;
}
section h3 {
  font-size: 2em;
  margin-bottom: 1%;
}
section p:last-of-type{
  text-align: center;
}
section a{
  display: block;
  text-align: center;
}
section a img {
  width: 3%;
  margin-right: 2%;
}
input{
  display: block;
  margin: auto;
}
