body{
  margin :0;
  font-family: arial, sans-serif;
}
header{
  display: flex;
  justify-content: space-between;
  height: 10%;
  background-color: rgb(115, 116, 201);
  padding-left: 2%;
  padding-right: 2%;
}
header div{
  display: flex;
  align-items: center;
  height: 10%;
}
header h1{
    height: fit-content;
}
header>div>img{
    width: 10%;
    height: 10%;
}
header>a{
  display: block;
  width: 4%;
  height: 100%;
}
header>a>img{
  width: 50%;
  margin-top: 30%;
}

.panier{
  color: white;
  text-decoration: none;
}

.nbArt{
  text-align: center;
  display: inline-block;
  margin-left: -10px;
  font-size: 1em;
  font-weight: bold;
  background:orange;
  border-radius:50%;
  width:20px;;
  height:20px;
  border:2px

}
