nav{
  border: 1px solid black;
  border-bottom-right-radius: 5px;
  align-self: baseline;
}
nav ul {
  margin: 0;
  padding: 0;

}
nav li{
  list-style-type: none;

}
nav a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  background-color: rgb(115, 116, 201);
  display: block;
  padding: 5px 8px;
}
nav li:last-child a{
  border-bottom: none;
}
nav a:hover{
    background-color: rgba(115, 116, 201, 0.71);
}
