.container{
    display: flex;
}
 .container>div {
     width: 100%;
     text-align: center;
 }
 .article{
     width: fit-content;
     margin: auto;
     margin-bottom: 3%;
     margin-top: 3%;
     padding: 1% 2%;
     border: 1px solid black;
     border-radius: 5px;
     background-color: #e8e8e8;
 }

 p{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0px;
 }

 .objet{
     display: flex;
     align-items: center;
     padding-right: 5px;
     text-decoration: none;
     color: black;
 }

.supprimer{
  margin-left: 5px;
}
