nav {
    float: left;
    margin-top: 1%;
}

form{
    width: 40%;
    margin: auto;
    margin-top: 1%;
}

label{
    display: inline-block;
    width: 30%;
    margin: 1% 0;
}
#labPub{
    display: inline;
}
button{
    display: block;
    margin: auto;
    margin-top: 2%;
    font-size: 1em;
}
