<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chez violette</title>
    <link rel="stylesheet" href="../view/style/header.css">
    <!-- <link rel="stylesheet" href="style/header.css"> -->
  </head>
  <body>
    <header>
      <div class="">
        <img src="../view/img/logo.png" alt="Logo du site chez violette">
        <h1>Chez Violette</h1>
      </div>
      <a href="#"> <img src="../view/img/panier.png" alt="image de panier"></a>
    </header>
  </body>
</html>
